<!DOCTYPE html>
{% extends 'levelfive_second_app/base.html' %}
  {% block body_block %}
    {% if registered %}
      <h1>Thank you for registeration</h1>
    {% else %}
      <h1>Please register first</h1>

    <form enctype="multipart/form-data"  method="POST">
      {% csrf_token %}
      <!--Calling views context at last which we have written  render(request,'levelfive_second_app/register.html',context = {'user_form':user_form , 'user_profile_form':user_profile_form}) -->
      <!-- which have written inside two quotes '' that is called here -->
      {{user_form.as_p}}
      {{user_profile_form.as_p}}


      <input type="submit" name="" value="Submit">
    </form>
    {% endif %}
  {% endblock %}
